<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://localhost/milantair/MVC/assets/css/main.css">
    <title>
        Ta &amp; Ta 
        {% block naslov %}
        Pocetna
        {% endblock %}
    </title>

</head>
<body>

    <header class="site-header">
        <div class="banners">
            <a href="http://localhost/milantair/MVC/" class="banner"></a>
            <img src="http://localhost/milantair/MVC/assets/img/banner-1.jpg" alt="BANNER1">
        </div>
        <div class="social-icons">
            <a href=""><img src="http://localhost/milantair/MVC/assets/img/social/linkedin.png" alt="LI"></a>
            <a href=""><img src="http://localhost/milantair/MVC/assets/img/social/facebook.png" alt="FB"></a>
            <a href=""><img src="http://localhost/milantair/MVC/assets/img/social/twitter.png" alt="TW"></a>
            <a href=""><img src="http://localhost/milantair/MVC/assets/img/social/google-plus.png" alt="GP"></a>
            <a href=""><img src="http://localhost/milantair/MVC/assets/img/social/youtube.png" alt="YT"></a>
        </div>

        <div class="search-box">
            <form action="http://localhost/milantair/MVC/search" method="POST">
                <input type="text" name="q" placeholder="Unesite kljucne reci">
                <button type="submit">Search</button>
            </form>
        </div>

        <nav id="main-menu">
            <ul>
                <li><a href="http://localhost/milantair/MVC/">Pocetna</a>
                <li><a href="http://localhost/milantair/MVC/categories">Kategorije</a>
                <li><a href="http://localhost/milantair/MVC/profile">Profil</a>
                <li><a href="http://localhost/milantair/MVC/contact">Kontakt</a>
                <li><a href="http://localhost/milantair/MVC/log-out">Odjava</a>
            </ul>
        </nav>

    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        &copy; 2018 Aukcijska kuca Ta &amp; Ta
    </footer>

</body>
</html>